@import "compass";
@import "mixins";
@import "grid";
@import "helpers";

/* SPRITE
$icon-layout: smart;
@import "./icon/*.png";

$icon2x-layout: smart;
@import "./icon2x/*.png";
 */

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased !important;
}

html, body {
  height: 100%;
}

.box {
  border-image: url('/img/border2.png') 5 repeat;
  width: 100px;
  height: 100px;
}

body, input, textarea {
  font: 125%/1.6 Georgia, Arial, sans-serif;
}

body {
  margin: 50px;
}
