html {
  -webkit-font-smoothing: antialiased !important;
}

html, body {
  height: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
